@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    font-family: Open Sans,sans-serif;
    position: relative;
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.3125rem;
}
img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.AllPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
